@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    /* Font */
    --font: 'Montserrat', sans-serif;

    /* Colors */

    /*-- Primary --*/
    --Linear-Gradient: hsl(236, 72%, 79%);
    --gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);

    /*-- Neutral --*/
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    text-align: center;
}

ul li {
    list-style: none;
}

/* Utility classes */
.bg-blue {
    background-color: var(--Very-Light-Grayish-Blue);
    background-image: url(images/bg-top.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right;
}

/* Section */
.pricing-section h2 {
    color: var(--Grayish-Blue);
    font-size: 30px;
}

.plan {
    margin-top: 2rem;
}

.plan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: var(--Light-Grayish-Blue);
}

/* Container */
.container {
    padding: 1.4rem;
}

.container > *, .card-section > * {
    margin-block: 2rem;
}

/* Cards */
.card {
    border-radius: 7px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card--1 {
    background-color: white;
    color: var(--Grayish-Blue);
}

.card--2 {
    background: linear-gradient(90deg, #a3a8f0 0%, #696fdd 100%);
    color: white;
}

.card__price {
    font-size: 60px;
    margin-block: 1rem;
}

.card__price--hidden {
    display: none;
}

.card--1 .card__price {
    color: var(--Dark-Grayish-Blue);
}

.card--1 .card__info ul li {
    border-top: 2px solid var(--Light-Grayish-Blue);
    padding-block: 1rem;
}

.card--1 .card__info ul li:last-child {
    border-bottom: 2px solid var(--Light-Grayish-Blue);
}

.card--2 .card__info ul li {
    border-top: 2px solid var(--Very-Light-Grayish-Blue);
    padding-block: 1rem;
}

.card--2 .card__info ul li:last-child {
    border-bottom: 2px solid var(--Very-Light-Grayish-Blue);
}

.card__info {
    margin-block: 1rem 2rem;
}

/* Buttons */
.btn {
    border-style: none;
    font-family: inherit;
    width: 100%;
    border-radius: 5px;
    padding-block: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
    letter-spacing: 2px;
}

.btn--1 {
    background-color: var(--Linear-Gradient);
    color: white;
}

.btn--1:hover {
    background-color: white;
    color: var(--Linear-Gradient);
    border: 2px solid var(--Light-Grayish-Blue);
}

.btn--2 {
    background-color: white;
    color: var(--Linear-Gradient);
}

.btn--2:hover {
    background-color: var(--Linear-Gradient);
    color: white;
    border: 2px solid white;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Linear-Gradient);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:hover, input:checked + .slider:hover {
    background-color: rgba(163, 168, 240, 0.5);
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--Linear-Gradient);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--Linear-Gradient);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    transform: translateX(-26px);
  }
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

@media screen and (min-width: 52em) {
    .card-section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 365px;
    }

    .bg-blue {
        background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
        background-repeat: no-repeat;
        background-position: top right, bottom left;
    }

    .card--2 {
        padding-block: 50px;
    }

    .card-section .card:last-child {
        border-radius: 0 7px 7px 0;
    }

    .card-section .card:first-child:first-child {
        border-radius: 7px 0 0 7px;
    }
}